<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tweet App</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h2>This website shows the status of the BDFM train.</h2>
  <h2>The current status of the BDFM train system is:</h2>
  <h1> <%= @status %> </h1>
  <h2>If you would like more information, you can visit the <a href="http://www.mta.info/">MTA Website</a> and access more information.</h2>
  <h3>Made by Askeik Rozon</h3>

  <br>



  
</body>
</html>